.survey-form {
  margin-top: 0 !important;
}

.survey-container {
  background: linear-gradient(180deg, #beeadf 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(0deg, rgba(22, 157, 191, 0.9), rgba(22, 157, 191, 0.9));

  padding: 9.5rem 1.5rem 1rem 1.5rem;
  position: relative;
}

.questionnaire-container {
  background: linear-gradient(0deg, #ffffff, #ffffff), #000000;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

  padding: 1.3rem 1rem 1rem 1rem;
  margin: 2rem 0;
  font-family: Nixie One;
  font-size: 1.4rem;
}

.questionnaire-title {
  font-family: Nixie One;
  font-size: 1.8rem;
  line-height: 2rem;

  text-align: center;
  margin-bottom: 1.3rem;
}

.checkbox-container {
  margin-top: 1rem;
  text-align: center;
}

.answer-container {
  margin-bottom: 0.6rem;
}

.answer-container-left {
  padding-left: 1.5rem;
  text-align: left;
}

.checkbox {
  margin: 1rem auto 0 auto;
}

.checkbox-input {
  display: inline-block;
  vertical-align: middle;
}

.checkbox-text {
  display: inline-block;
  margin-left: 0.5rem;
}

.notice-text {
  text-align: center;
  font-weight: 600;
  margin-top: 1rem;
}
