.study-group-questionnaire-container {
  background-color: #e7f6f7;
  padding: 3rem 5rem;
}

.questionnaire-box {
  background-color: #fff;
  padding: 2.5rem 2rem;

  border-radius: 8px;

  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.141), 0 1px 3px 0 rgba(0, 0, 0, 0.122);

  margin-bottom: 1rem;
}

.description-box {
  text-align: center;
  margin-top: 2.5rem;
  padding: 1rem 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-top: 0.5rem solid #85d3d7;
}

.commuter-box {
  margin-left: 1rem;
  margin-right: 1rem;
}

.questionnaire-top-border {
  border-top: 0.8rem solid #85d3d7;
  padding-top: 1.5rem;
}

.questionnaire-left-border {
  border-left: 0.8rem solid #85d3d7;
  padding: 2rem 2.5rem 2rem 2rem;
}

.questionnaire-header {
  font-family: 'Cormorant Garamond', serif;
  font-size: 2.6rem;
  font-weight: 400;

  color: #202124;
  line-height: 135%;
}

.questionnaire-question {
  font-family: 'Cormorant Garamond', serif;

  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 2.4rem;
}

.questionnaire-question select {
  margin-top: 0.5rem;
  padding-bottom: 0.1rem;
  font-family: Roboto, Arial, sans-serif;
  width: 25%;
  font-size: 1rem;
  font-weight: 400;
  color: #202124;
  display: block;
}

.questionnaire-description {
  font-family: Roboto, Arial, sans-serif;

  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 1.6rem;
  color: #202124;
  min-height: 2rem;
}

.questionnaire-answer {
  font-family: Roboto, Arial, sans-serif;

  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 2rem;
  color: #202124;
}

.questionnaire-alert {
  position: fixed;
  top: 10px;
  left: 50%;

  transform: translate(-50%);
}

.required {
  color: #d93025;
}

.display-block {
  display: block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.italic {
  font-style: italic;
}

.unselectable {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.questionnaire-break {
  margin: 0.5rem 0;
  border: none;
  border-bottom: 0.01rem solid #dadce0;
}

.questionnaire-input[type='text'] {
  font-family: Roboto, Arial, sans-serif;
  font-size: 1rem;

  letter-spacing: 0.2px;
  line-height: 20px;
  color: #53565a;

  width: 33.3%;

  border: none;
  border-bottom: 0.01rem dotted #70757a;

  display: block;
  outline: none;
  padding: 0.125rem 0;
}

.questionnaire-input::placeholder {
  color: #9ba2a8;
}

.questionnaire-check-item {
  max-height: 2.1rem;
}

.questionnaire-check-item .questionnaire-input[type='radio'],
.questionnaire-check-item .questionnaire-input[type='checkbox'] {
  margin: -1px 0.5rem 0 0;
  display: inline-block;
  vertical-align: middle;
}

.questionnaire-check-item label {
  font-family: Roboto, Arial, sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.3px;
  color: #202124;
}

.questionnaire-input[type='time'] {
  font-family: Roboto, Arial, sans-serif;
  width: 25%;
  font-size: 1.3rem;
  font-weight: 400;
  color: #202124;

  letter-spacing: 1px;
  line-height: 20px;

  border: 0.01rem dotted #70757a;
  border-radius: 8px;
  padding: 0.2rem 2rem;
  margin-top: 0.5rem;
}

.input-importance {
  text-align: center;
  margin: 0 2rem 0 2rem;
  display: flex;
  align-items: flex-end; /* flex-end makes all contents align starting at the end of the container, so it allowed for the importance level text of the radio bubbles to align by the buttons rather than values */
}

.questionnaire-horizontal-check-container {
  padding: 0.5rem 0 1rem 0;
  display: flex;
  justify-content: center;
}

.questionnaire-horizontal-check-item {
  display: inline-block;
  position: relative;
}

.questionnaire-horizontal-check-item
  .questionnaire-horizontal-input[type='radio'] {
  margin: 1rem 2rem 0 2rem;
  display: inline;
  vertical-align: middle;
}

.questionnaire-horizontal-check-item label {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.questionnaire-submit {
  margin: 2rem auto 0 auto;
  width: 20%;
  height: 4rem;
  text-align: center;
  position: relative;

  font-family: Roboto, Arial, sans-serif;
  border-radius: 8px;
  background-color: #85d3d7;
  font-size: 1.7rem;

  color: #fff;

  box-shadow: 0 5px 4px -4px rgba(0, 0, 0, 0.2),
    0 4px 4px 0 rgba(0, 0, 0, 0.141), 0 4px 8px 0 rgba(0, 0, 0, 0.122);
}

.questionnaire-submit .submit-text {
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.questionnaire-submit:hover {
  background-color: #81cdd1;
  color: rgb(248, 248, 248);
}

.questionnaire-submit:active {
  box-shadow: 0 1px 0.5px -0.5px rgba(0, 0, 0, 0.2),
    0 0.5px 0.5px 0 rgba(0, 0, 0, 0.141), 0 0.5px 1.5px 0 rgba(0, 0, 0, 0.122);
  transform: translate(-0px, 1px);
  transition-duration: 50ms;
}

/*  */
/*  */
/*  */

@media only screen and (max-width: 400px) {
  .questionnaire-box {
    text-align: center;
  }

  .questionnaire-question {
    text-align: left;
  }

  .study-group-questionnaire-container {
    padding: 2rem 1rem;
  }

  .questionnaire-input[type='text'] {
    width: 100%;
    margin-top: 0.5rem;
  }

  .questionnaire-horizontal-check-item
    .questionnaire-horizontal-input[type='radio'] {
    margin: 0.1rem 0.4rem 0 0.4rem;
    display: inline;
    vertical-align: middle;
  }

  .input-importance {
    max-width: 45px;
    font-size: 0.5rem;
    margin: 0 0.2rem 0 0.2rem;
    display: flex;
    align-items: flex-end; /* flex-end makes all contents align starting at the end of the container, so it allowed for the importance level text of the radio bubbles to align by the buttons rather than values */
  }

  .questionnaire-input[type='time'] {
    text-align: center;
    width: 80%;
    margin: 0.5rem auto 0 auto;
  }

  .questionnaire-submit {
    width: 50%;
  }

  .questionnaire-alert {
    top: 7px;
    text-align: center;
    width: 100%;
    font-size: 0.8rem;
  }

  html {
    /* This is being set for the purpose of easy rem calculations throughout the application */
    /* Browser default size is 16px, but we want to set it to a percentage in case people with bad eyes have a different default */
    /* The percentage is 62.5% because it equates to 10px assuming the 16px default */
    font-size: 100%;
  }
}
