.user-container {
  height: 100vh;
  padding: 8.5rem 0 1rem 0;
  position: relative;
}

/* .image-container {
  margin-bottom: 1rem;
} */

.logged-in-user-image {
  border-radius: 50%;
}

/*  */
.top-section-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 auto;
  margin-bottom: 1rem;
}

.user-flex {
  height: 13.5rem;
}

.reactions-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reactions-left {
  text-align: center;
  padding: 0 1rem 0 0;
}

.reactions-right {
  text-align: center;
  padding: 0 0 0 1rem;
}

.reaction {
  background: linear-gradient(0deg, #daf2f5, #daf2f5), #162d3f;
  border-radius: 15px;
  padding: 0.4rem 0.6rem;

  font-family: Quicksand;
  font-size: 1.6rem;
  line-height: 2rem;
}

.gold {
  color: goldenrod;
  text-shadow: 1px 1px black;
}

.silver {
  color: silver;
  text-shadow: 1px 1px black;
}

.yellow {
  color: gold;
  text-shadow: 1px 1px black;
}

.pink {
  color: pink;
  text-shadow: 1px 1px black;
}

/*  */
.basic-info {
  margin: 0 0 1.2rem 0;
}

.name {
  text-align: center;
  font-family: Quicksand;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3rem;
}

.green {
  color: #00ff00;
}

.basic-info-item {
  text-align: center;
  color: #929697;
  font-family: Quicksand;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2rem;
}

.school-info-item-group {
  padding: 1rem 1rem 1rem 2rem;
  font-family: Quicksand;
  font-size: 1.6rem;
  line-height: 2rem;
}

.group-item {
  display: inline-block;
}

.edit-button {
  float: right;
  color: #169dbf;
  border: 3px solid #169dbf;
  border-radius: 4px;
  padding: 0.1rem 1.5rem;
  margin-top: -0.4rem;
  font-size: 1.4rem;
}

.edit-button:hover {
  background: rgba(0, 0, 0, 0.1);
  border-color: #148fad;
}

.blue {
  background: linear-gradient(0deg, #daf2f5, #daf2f5), #162d3f;
}

.schedule-info-item-group {
  padding: 1rem 1rem 0 2rem;
}

.schedule-item {
  line-height: 3rem;
}

.return-footer {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* The box will be shifted half it's width to the left and up, to allow for true centering */
}

.return-button {
  color: white;
  background-color: #169dbf;
  border: 3px solid #169dbf;
  border-radius: 4px;
  padding: 0.7rem 1.7rem;
  font-family: Quicksand;
  font-weight: bold;
  font-size: 1.8rem;
}
