.curfew-time-container {
  padding: 0 2rem;
}

.clock {
  background: linear-gradient(0deg, #daf2f5, #daf2f5), #162d3f;
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.time-item {
  -webkit-appearance: none;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  position: absolute;
  height: 16%;
  width: 16%;
  background: #daf2f5; /* This should be darker blue when clicked */
  transition: all 0.4s;
  border-radius: 50%;
  padding-top: 2%;

  display: inline-block;
  transform: translate(-50%, -50%);

  font-family: Nixie One;
  font-weight: 500;
  font-size: 1.4rem;
  text-align: center;
}

/* 8 */
.time-item:first-child {
  top: 70%;
  left: 15.36%;
}
/* 9 */
.time-item:nth-child(2) {
  top: 50%;
  left: 10%;
}
/* 10 */
.time-item:nth-child(3) {
  top: 30%;
  left: 15.36%;
}
/* 11 */
.time-item:nth-child(4) {
  top: 15.195%;
  left: 30.75%;
}
/* 12 */
.time-item:nth-child(5) {
  top: 10%;
  left: 50%;
}
/* 1 */
.time-item:nth-child(6) {
  top: 15.195%;
  left: 69.25%;
}
/* 2 */
.time-item:nth-child(7) {
  top: 30%;
  left: 84.65%;
}
/* 3 */
.time-item:nth-child(8) {
  top: 50%;
  left: 90%;
}
/* 4 */
.time-item:nth-child(9) {
  top: 70%;
  left: 84.65%;
}

.center {
  height: 60%;
  width: 60%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #daf2f5;
  border-radius: 50%;
  text-align: center;
}

.minute-item {
  height: 26%;
  width: 26%;
}

/* :45 */
.minute-item:first-child {
  top: 50%;
  left: 20%;
}
/* :00 */
.minute-item:nth-child(2) {
  top: 20%;
  left: 50%;
}
/* :15 */
.minute-item:nth-child(3) {
  top: 50%;
  left: 80%;
}
/* :30 */
.minute-item:nth-child(4) {
  top: 80%;
  left: 50%;
}

.time-input {
  text-align: center;
  margin-top: 60%;
  margin-left: 25%;

  font-family: Quicksand;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
}

.half-container {
  display: inline-block;
  vertical-align: top;
}

.half-container-left {
  width: 60%;
}

.half-container-right {
  width: 40%;
}
