.update-bar {
  height: 2rem;
  background-color: #2ec1d4;
  padding: 0.3rem 3rem 1.3rem 2.2rem;
}

.subject {
  display: inline-block;
  float: left;
}

.new-messages {
  display: inline-block;
  float: right;
}
