.private-info {
  margin: 10rem auto 0 auto;
  padding: 0 1.1rem 0 1.1rem;
  text-align: center;
  color: #c4c4c4;
  font-weight: 300;
}

.private-icon {
  font-size: 8rem;
}

.private-message {
  font-size: 1.6rem;
}

.no-shadow {
  text-shadow: none;
}
