.comment {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.image {
  border-radius: 50%;
  height: 5.6rem;
  margin: 0 1.6rem 0 0;
  display: inline-block;
}

.username {
  display: inline-block;
  font-weight: 700;
  font-family: 'Quicksand', sans-serif;
  vertical-align: top;
  font-size: 1.6rem;
}

.timestamp {
  display: inline-block;
  color: #c4c4c4;
  font-family: 'Quicksand', sans-serif;
  float: right;
  font-size: 1.6rem;
}
