* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* This makes the box model not count borders/paddings in total height/width*/
}

html {
  /* This is being set for the purpose of easy rem calculations throughout the application */
  /* Browser default size is 16px, but we want to set it to a percentage in case people with bad eyes have a different default */
  /* The percentage is 62.5% because it equates to 10px assuming the 16px default */
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  outline: none;
  cursor: pointer;
}
