.message-bar {
    width: 100%;
    height: 6.4rem;

    padding: 1.2rem 1.4rem;

    color: #169dbf;
    background: linear-gradient(0deg, #daf2f5, #daf2f5), #162d3f;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.4);

    position: fixed;
    bottom: 0;
}

.buttons {
    display: inline-block;
    font-size: 3rem;
}

.message-form {
    margin: 0 !important;
}

.input-message {
    display: inline-block;
    float: left;
    margin: 0.7rem 1rem 0 0;
    height: 3rem;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    padding: 0 0.3rem 0 0.3rem;
    width: 50vw;
    border: #9db9c0 solid 1px;
}

.message-bar-button {
    margin: 0 0 0 1.2rem;
}
